fastapi
uvicorn
requests
beautifulsoup4
fake-useragent
pandas
numpy
scikit-learn
geopy
torch
torchvision
timm
git+https://github.com/openai/CLIP.git
spacy
textblob
tqdm
sentence-transformers
faiss-cpu
networkx
plotly
pillow
opencv-python
praw
tweepy 